<table class="table table-condensed table-responsive">
    <tbody style="font-size:xx-small">
        <tr>
            <td>
                RAZ&Oacute;N SOCIAL:
            </td>
            <td>
                ERWIN RODRIGO SOTO OYARZO
            </td>
        </tr>
        <tr>
            <td>
                RUT:<br />
            </td>
            <td>
                15.285.472-2<br />
            </td>
        </tr>
        <tr>
            <td>
                GIRO:<br />
            </td>
            <td>
                ASESOR&Iacute;A CONTABLE, LABORAL, TRIBUTARIA Y PREVISIONAL.<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                CASA MATRIZ:<br />
            </td>
        </tr>
        <tr>
            <td>
                DIRECCIÓN:<br />
            </td>
            <td>
                LOS MA&Ntilde;&Iacute;OS 44, POB. LOS ULMOS. <br />
            </td>
        </tr>
        <tr>
            <td>
                TEL&Eacute;FONOS:<br />
            </td>
            <td>
                +56 65 2211551 - +56 9 83601165 <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                SUCURSAL:
            </td>
        </tr>
        <tr>
            <td>
                DIRECCIÓN:<br />
            </td>
            <td>
                AV. R. WESTERMEIER SN, 2° PISO GALER&Iacute;A COMERCIAL<br />
            </td>
        </tr>
        <tr>
            <td>
                TEL&Eacute;FONOS:<br />
            </td>
            <td>
                +56 65 2211636 - +56 9 52241587<br />
            </td>
        </tr>
    </tbody>
</table>
