<ul class="list-inline">
    <li>
        <a href="https://api.whatsapp.com/send?phone=56983601165&text=Hola" class="btn btn-default btn-lg"><i class="fab fa-whatsapp fa-fw"></i> <span class="network-name">+56 9 8360 1165</span></a>
    </li>
    <li>
        <a href="tel:+56652211551" class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">+56 65 2211551</span></a>
    </li>
    <li>
        <a href="mailto:contacto@contabilidadlosmuermos.cl" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">contacto@contabilidadlosmuermos.cl</span></a>
    </li>
</ul>