@section Styles{
    <link href="~/css/landing-page.css" rel="stylesheet">
}
<!-- Navigation -->
<!-- Header -->
<div class="intro-header">
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="intro-message">
                    <img src="~/images/logo-gray.svg" alt="Contabilidad Los Muermos - logo" style="width:100%; height:100%; max-width:450px">
                    <h3>Con Prestigio y Calidad,¡conf&iacute;enos su contabilidad!</h3>
                    <hr class="intro-divider">
                    <div class="intro-social-buttons">
                        @await Html.PartialAsync("_ContactButtons")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="about"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <h2 class="text-center" style="font-size:48px">Nosotros:</h2>
            <p class="text-center" style="font-size:28px">¡Tenemos 16 años brindando servicio de calidad con responsabilidad a nuestros clientes!</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="img-responsive" src="~/images/logo.svg" alt="" style="width:100%; height:100%">
            </div>
            <div class="col-lg-3 col-md-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Funcionarios:<br></h2>
                <ul>
                    <li class="list-element">Macarena S&aacute;nchez</li>
                    <li class="list-element">Karen Godoy</li>
                    <li class="list-element">Mirso Miranda</li>
                    <li class="list-element">Natalia D&iacute;az</li>
                    <li class="list-element">Fernanda D&iacute;az</li>
                    <li class="list-element">Luz Soto</li>
                    <li class="list-element">Orlando Soto</li>
                    <li class="list-element">Lidia Soto</li>
                    <li class="list-element">Claudia Vargas</li>
                    <li class="list-element">Cyntia Igor</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Contadores:<br></h2>
                <p class="lead">
                    <ul>
                        <li class="list-element" style="margin-bottom:5px">
                            Erwin Soto
                        </li>
                        <li class="list-element">
                            Priscila Apablaza
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Misi&oacute;n </h2>
                <p class="text-justify list-element">
                    Trabajamos para llegar a ser proveedores líderes de soluciones integrales para las empresas comerciales y emprendimientos sociales, atendiendo sus necesidades con un servicio personalizado y dinámico para brindar una excelente relación con los clientes y colaboradores.<br>
                </p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Visi&oacute;n </h2>
                <p class="text-justify list-element"> Ser uno de los principales prestadores de servicios en la comuna de Los Muermos y región de Los Lagos, dedicada a la asesoría contable, tributaria, financiera, laboral, administrativa y posesiones efectivas, brindándoles a nuestros clientes una gran variedad de servicios que cumplan con las expectativas de superación en el logro de los objetivos establecidos.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Objetivos:</h2>
                <ul>
                    <li>Atender en forma ágil y eficiente las necesidades de su empresa.</li>
                    <li>
                        Concentrar la responsabilidad en la prestación de los diferentes servicios.
                    </li>
                    <li>
                        Optimizar los costos a través del aprovechamiento de los tiempos y personal adecuado al servicio.
                    </li>
                    <li>
                        Adecuar los honorarios profesionales según la estructura y necesidad de cada cliente.
                    </li>
                    <li>
                        Proveer de herramientas teóricas útiles para el crecimiento de su negocio por medio de la combinación de los conocimientos, experiencias, esfuerzos y recursos.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<a name="services"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Servicios contables</h2>
                <p class="text-justify">
                    <ul>
                        <li class="text-justify list-element">
                            Asesoría contable a clientes con iniciación de actividades en el Servicio de Impuestos Internos, agricultores, comerciantes, cooperativas, pequeñas, medianas y grandes empresas, entre otras.
                        </li>
                        <li class="text-justify list-element">
                            Asesoría Tributaria a pequeñas y medianas empresas del rubro agrícola y comercial de las comunas Los Muermos, Fresia, Maullin, Puerto Varas y Puerto Montt.
                        </li>
                        <li class="text-justify list-element">
                            Leyes sociales a pequeñas, medianas y grandes empresas que cuentan con trabajadores contratados. También a trabajadores independientes.
                        </li>
                        <li class="text-justify list-element">
                            Posesiones efectivas intestadas de clientes de la comuna y comunas adyacentes que requieran de la repartición de herencias quedadas al fallecimiento de sus familiares.
                        </li>
                        <li class="text-justify list-element">
                            Asesoría en recuperación de IVA como pequeños productores agrícolas, que no cuentan con iniciación de actividades, dicho trámite se realiza   durante el mes de  junio de cada año.
                        </li>
                        <li class="text-justify list-element">
                            Declaración de rentas.
                        </li>
                        <li class="text-justify list-element">
                            Constitución de sociedades
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <img class="img-thumbnail" src="~/images/oficinacm.jpg" alt="" style="width:100%; height:100%">
                </div>
                <div class="row">
                    <img class="img-thumbnail" src="~/images/CLM2.jpg" alt="" width="98" height="70" style="width:100%; height:100%" />
                    <div class="desc" style="margin-left:10px">Entrada Oficina Contable Los Muermos, Calle Los Mañ&iacute;os Nº44, Pob. Los Ulmos, Comuna de Los Muermos.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<a name="contact"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Contacto y Ubicaci&oacute;n</h2>
                <p class="lead">
                    <ul>
                        <li class="list-element">
                            Casa Matriz<br> <a href="https://goo.gl/maps/fQRgDFnVerB2">Calle Los Mañíos Nº44, Pob. Los Ulmos, Comuna de Los Muermos.</a><br />
                        </li>
                        <li class="list-element">
                            Sucursal<br> <a href="https://goo.gl/maps/z8SSRA4qvC62">Reinald Westermeyer s/n, Galería Comercial, Comuna Los Muermos.</a><br />
                        </li>
                    </ul>
                <p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.4500465067804!2d-73.46577234192644!3d-41.39797599481578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDIzJzUyLjciUyA3M8KwMjcnNTIuOCJX!5e0!3m2!1sen!2scl!4v1500780953664" frameborder="0" style="border:0;width:100%; height:300px" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2>Cont&aacute;ctenos:</h2>
            </div>
            <div class="col-lg-10">
                <div class="banner-social-buttons">
                    @await Html.PartialAsync("_ContactButtons")
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Nosotros</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>